build/
devel/
install/
logs/
.catkin_tools/
.catkin_workspace
.ros/
*.bag
*.pcap

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

*.o
*.so
*.a
bin/
lib/

#*.ckpt
*.pth
*.pt
*.weights
*.onnx
models/*
!models/.keep  

.vscode/
.idea/
*.swp
*~

.DS_Store
Thumbs.db